@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

html{font-size: 62.5%;}

@font-face {
  font-family: 'runwild';
  src:url(runwild.ttf);
}

%font-shared{font-family: 'Maven Pro'; text-align: center;}
%font-shared{font-family: 'runwild'; text-align: center;}

h2, h4, h5, p {@extend %font-shared;}
h1, h3, h6 {@extend %font-shared;}

html{
  @media (max-width: 575.98px)
    {font-size: 55%;}

  @media (min-width: 576px) and (max-width: 767.98px) {
      font-size: 58%;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      font-size: 60%;
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      font-size: 62.5%;
    }
    @media (min-width: 1200px) {
      font-size: 62.5%;
    }
  }

/*@media only screen and (max-width: 1000px) {
  .paw {
    height: 500px;
  }
}*/
