@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

@font-face {
  font-family: 'runwild';
  src:url(runwild.ttf);
}

h2, h4, h5, p {font-family: 'Maven Pro';}
h1, h3, h6 {font-family: 'runwild'}

.cover{
  /* how do i get rid of awk space on top of the pic */
  background-image: url("cover.jpg");
  height: 700px;
  width: 100%;
  background-size: cover;
}

h1{
  font-size: 150px;
  color:#000000;
  margin-left: 150px;
  text-align: center;
  padding-top: 20px;
  font-family: 'runwild';
}

h2{
  font-size: 60px;
  color: #000000;
  margin-left: 150px;
  padding-top: 100px;
  font-family: 'Maven Pro';
  /*how to put two sentences closer to each other*/
}

h3{
  font-size: 70px;
  text-align: center;
  font-weight: 400;
}

h4{
  font-size: 40px;
  text-align: center;
}

h5{
  font-size: 30px;
  text-align: center;
  color: #484848
}

h6{
  text-align: center;
  font-size: 70px;
  color: #ffffff}

p{
  font-size: 30px;
  text-align: center;
}

.about{
  padding-top: 50px;
  padding-bottom: 50px;
}

.dog{
  margin-top: 30px;
  width: 300px;
  height: 300px;
  margin-right: 20px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.paw{
align-items: center;
width: 200px;
height: 200px;
padding-left: 1000px;
padding-top: 80px;
padding-bottom: 80px;
justify-content: center;
}

.events{
padding-top: 30px;
}

.highlights{
  margin-top: 80px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  /*how to put club highlights on top of the pic? */
}

.social{
  width:200px;
  height:200px;
  justify-content: center;
padding-left: 50px;
align-items: center;
  margin-top: -100px;
  font-size: 0;
  /*how to put icon in center? */
}
.contact{
  padding-top: 1px;
  background-image: url("husky.jpg");
  height: 700px;
  width: 100%;
  background-size: cover;
}
